# OS-specific files
.DS_Store
Thumbs.db

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# IntelliJ exclusions (generated or user-specific files)
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources*
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/replstate.xml
.idea/**/httpRequests/
.idea/**/sonarlint/
.idea/**/sonarIssues.xml
.idea/**/codestream.xml
.idea/**/azureSettings.xml
.idea/caches/build_file_checksums.ser

# Build output
out/
target/
build/

# Logs & JVM crash reports
*.log
hs_err_pid*
replay_pid*

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
.mvn/
!mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/

# Environment & Security
.env
*.jks
*.p12
*.keystore

# Docker
docker-compose.override.yml
